data
work
out
logs
/.idea
/target
/.settings
/.classpath
/.project
/.gradle
/plugins
/sessions
.DS_Store
*.iml
*~
.secret
build
**/alkmene.json
**/alkmene*.options
**/herakles.json
**/herakles*.options
**/prod.json
**/prod*.options
**/*.crt
**/*.pkcs8
**/*.gz
